build/*
builddir/*
.vscode/*
*.dot
src/*.swp
src/*.swo
src/nodes/*.swp
src/nodes/*.swo
proto/*.h
proto/*.cc
__*
*.pcap
.idea/
*.pl
scapy-script/*
code_check/_checkpatch.pl
.out
test/benchmark_test/access_details.json
